body {
    background-color: #474747;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.nav {
    border: 2px;
    border-color: white;
    border-style: dotted;
    margin: 2px;
    padding: 5px;
    font-size: 24px;
}
.nav:hover{
    color: black;
    border-color: black;
    background-color: white;
}
table{
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
}
th, td{
    border: solid;
    text-align: center;
    padding: 5px;
}
img{
    height: 400px;
    margin: 5px;
    border: 5px solid black;
    border-radius: 30px;
}
h1{
    font-size: 40px;
    border-bottom: 5px dashed white;
}
h2{
    border-bottom: 2px dotted white;
    width: 300px;
}
#long-break{
    height: 50px;
}

form{
    border: solid;
    width: 30%;
    text-align: center;
    margin: 5px;
}

input[type=text]{
    width: 200px;
    height: 20px;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
}
input[type=submit]{
    width: 225px;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
}

#form-header{
    width: auto;
    text-align: center;
    margin: 5px;
}

ol{
    list-style-type: upper-roman;
}
p{
    width: 50%;
    font-size: 20px;
}
footer{
    border-top: 2px solid white;
}